.container-mobile {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid white;
}
body {
  background: #1c1c1c;
}

.header {
  .navbar {
    .logo {
      img {
        height: 50px;
        width: 50px;
      }
    }
    .menu {
      img {
        width: 37;
        height: 16;
      }
    }
  }
  .text-header {
    margin-top: 60px;
    h1 {
      color: #fff;
    }
  }
}
.section2 {
  margin-top: 60px;
  .text {
    h1 {
      color: #fff;
    }
    margin-bottom: 20px;
  }
  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .row {
      width: 155px; /* Или другой процент, в зависимости от вашего дизайна */
      margin-bottom: 20px;
      .card {
        padding: 0;
        border: none;
        background: transparent;
        width: 155px; /* Или другой процент, в зависимости от вашего дизайна */
        // padding: 10;
        img {
          object-fit: cover;
        }
        p {
          color: #fff;
        }
        .container-price {
          display: flex;
          //   height: 10;
          //   width: 50;
          h1 {
            color: #fff;
            font-size: 20px;
          }
          .shop-button {
            margin-left: 25px;
            background: rgb(9, 183, 0);
            width: 39px;
            height: 39px;
            overflow: hidden;
            img {
              padding: 8px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        margin-bottom: 60px;
      }
    }
  }
  .show-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      width: 214px;
      height: 42px;
      border: 1px solid rgb(9, 183, 0);
      background-color: #1c1c1c;
      font-size: 13px;
      color: rgb(9, 183, 0);
      font-weight: 700;
      line-height: 22px; /* 169.231% */
      letter-spacing: 1.3px;
      text-transform: uppercase;
    }
  }
}
.section3 {
  margin-top: 100px;
  white-space: nowrap;
  .head {
    display: flex;
    justify-content: space-between;
    .text {
      h1 {
        color: #fff;
      }
    }
    .arrows {
      margin-bottom: 30px;
      display: flex;
      .arrow-left {
        margin-right: 20px;
        &:hover {
          img {
            transition: filter 0.3s ease;
            filter: brightness(0) invert(1); /* Инвертировать цвет изображения при наведении */
          }
        }

        &:active {
          img {
            transition: filter 0.3s ease;
            filter: brightness(0) invert(1); /* Инвертировать цвет изображения при нажатии */
          }
        }
      }
      .arrow-right {
        margin-right: 20px;
        &:hover {
          img {
            transition: filter 0.3s ease;
            filter: brightness(0) invert(1); /* Инвертировать цвет изображения при наведении */
          }
        }

        &:active {
          img {
            transition: filter 0.3s ease;
            filter: brightness(0) invert(1); /* Инвертировать цвет изображения при нажатии */
          }
        }
      }
      button {
        background: transparent;
        border: none;
        padding: 0;
        width: 40px;
        height: 40px;
        img {
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          /* Добавьте стили для изображений-кнопок по вашему усмотрению */
        }
      }
    }
  }

  .carousel-container {
    position: relative;
    overflow: hidden;
    width: 315px; /* Общая ширина карусели (130px * 5) */
  }

  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  img {
    width: 130px;
    height: 180px;
    object-fit: cover;
    margin-right: 10px;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
  }

  .arrow-left {
    left: 0;
  }

  .arrow-right {
    right: 0;
  }
  margin-bottom: 85px;
}

.footer {
  background: #121212;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin: 20px;
      height: 150px;
      width: 150px;
    }
    .sec {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      .l1 {
        text-align: center;
        a {
          display: block; /* Превращает каждую ссылку в блочный элемент, чтобы разместить их в столбец */
          margin: 10px 0;
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
