[class*="copyrights-pane"]{
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.map:hover[class*="copyrights-pane"]{
    opacity: 1;
}

[class*="ground-pane"]{
    filter: grayscale(1) sepia(10%);
}
